<div class="row">
    <div class="col-md-6">
        <img width="100%" src="https://www.crearlogogratisonline.com/images/crearlogogratis_1024x1024_01.png" alt="logo">
    </div>
    <div class="col-md-6">
        <form>
            <h1>Ingresa a la comunidad</h1>
            <p>Mira lo que te podemos ofrecer</p>
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
</div>